cx-Freeze==6.15.1
cx-Logging==3.1.0
lief==0.13.1
polars==0.18.2
xlsx2csv==0.8.1
duckdb==0.8.1
psutil==5.9.5
sqlparse==0.4.4
sqlglot==16.4.2
numpy==1.25.1
pyarrow==12.0.1
flask==2.3.2
pandas==2.0.3
openpyxl==3.1.2
lxml==4.9.3
pyreadstat==1.2.2
fastparquet==2023.7.0
