.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  font-family: monospace, monospace;

  margin: 0;
  padding: 2px;

  border: 1px solid #3d3d3d;

  background: white;
  font-size: 90%;
  font-family: monospace;

  max-height: 20em;
  overflow-y: auto;
  box-sizing: border-box;
}

.CodeMirror-hint {
  margin: 0;
  padding: 0 4px;
  white-space: pre;
  color: #a9b7c6;
  cursor: pointer;
}

ul.CodeMirror-hints li.CodeMirror-hint-active {
  background-color: #014180 !important;
  color: #a9b7c6 !important;
}
